<div class="low m-5">
  <span class="outline">For my favorite</span>
</div>

<div class="low m-3">
  <span class="blink">Choose your player...</span>
</div>

<div class="low m-2">
  <%= link_to 'Guest player', users_guest_sign_in_path, method: :post, class:"link-info" %>
</div>

<div class="low m-2">
  <%= link_to "New player", new_user_registration_path, class:"link-info" %>
</div>

<div class="low m-2">
  <%= link_to "Log in", new_user_session_path, class:"link-info" %>
</div>