<h1>For my favorite</h1>
<p>Choose your player...</p>

<div><%= link_to 'Guest player', users_guest_sign_in_path, method: :post %></div>
<div><%= link_to "New player", new_user_registration_path %></div>
<div><%= link_to "Log in", new_user_session_path %></div>