<h1>編集</h1>
<%= form_with model: @output do |f| %>
  <h4>画像</h4>
    <%#= f.file_field :image, accept: "image/*" %>
  <h4>投稿文</h4>
    <%= f.text_area :post %>
  <h4>タグ</h4>
    <%#= f.text_area :task_name %>
  <%= f.submit '更新' %>
<% end %>

<%= link_to '戻る', output_path %>