<% @outputs.each do |output| %>
<div>
  <%= output.post %><br>
</div>

<% 
=begin %>
<div id="colections_buttons_<%= output.id %>">
  <%= render 'public/colections/colection', output: output %>
</div>
<% 
=end %>
<% end %>

