<div class="row">
  <h1>投稿一覧</h1>
</div>

<div class="row">
  <% @outputs.each do |output| %>
    <div class="col-8">
      <div class="p-3 m-3 bg-info bg-opacity-10 border border-info border-3 rounded-start rounded-end">
        <div>
          <%= output.post %>
          <%= link_to 'Delete', admin_output_path(output.id), method: :delete %>
        </div>
      </div>
    </div>
  <% end %>
</div>