<div class="container text-center">
  
  <h1>投稿一覧</h1>
  <%= paginate @outputs %>
  
  <div class="row">
    <% @outputs.each do |output| %>
      <div class="col-8">
        <div class="listbox">
            <p><%= output.post %></p>
            <%= link_to 'Delete', admin_output_path(output.id), method: :delete, class:"link-info"  %>
        </div>
      </div>
    <% end %>
  </div>
    
</div>