/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 
 /*検索フォーム*/
.search-form-003 {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #d7e4ef;
    border-radius: 3px;
}

.search-form-003 input {
    width: 250px;
    height: 40px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    outline: none;
}

.search-form-003 input::placeholder{
    color: #81b4ca;
}

.search-form-003 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-003 button::after {
    width: 18px;
    height: 18px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23db8df7%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}


/*list/showのリストボックス*/
.listbox {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #fff;
    border-radius: 8px;
}
.listbox .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: none;
    color: #000;
    font-weight: bold;
}
.listbox p {
    margin: 0; 
    padding: 0;
}


/*menuボタン*/
.dropdown button {
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
}

.dropdown button {
  position: relative;
  display: block;
  padding: 1em 2em 1em 1em;
  width: 175px;
  font-size: 14px;
  color: #000;
  text-align: center;
    line-height: 1;
  background: #5bbee5;
  background: linear-gradient(135deg, #b6b1f9, #b2f6ef, #d4e2ff);
  text-indent: 0.1em;
  letter-spacing: 0.1em;
  border-radius: 1.5em;
}

.dropdown button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5em;
  margin: auto;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(45deg);
  transition: right 0.5s;
}

.dropdown button:hover:after{
  right: 1em;
}

/*home/topタイトル名*/
.outline {
  display        : inline-block;
  border-bottom : 2px solid #000000;   
  color          : #eeeeff;            /* 文字の色 */
  font-size      : 36pt;               /* 文字のサイズ */
  letter-spacing : 4px;                /* 文字間 */
  text-shadow    : 
       2px  2px 6px #e5aaf7,
      -2px  2px 6px #e5aaf7,
       2px -2px 6px #e5aaf7,
      -2px -2px 6px #e5aaf7,
       2px  0px 6px #e5aaf7,
       0px  2px 6px #e5aaf7,
      -2px  0px 6px #e5aaf7,
       0px -2px 6px #e5aaf7;        /* 文字の影 */
}

/*home/topプレイヤー選択文*/
.blink {
  animation: blinkAnime 1.5s infinite alternate;
}
@keyframes blinkAnime{
   0% { color: #000000 }
 100% { color: #dcb9ff }
}

/*list/index画像半透明化*/
.imgArea {
  position: relative;
  padding : 0
}
.throu {
  opacity : 0.5;
}

/*class: 'btns'*/
.btns {
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
}

.btns {
  position: relative;
  display: block;
  padding: 1em 2em 1em 1em;
  width: 175px;
  font-size: 14px;
  color: #000;
  text-align: center;
    line-height: 1;
  background: #5bbee5;
  background: linear-gradient(135deg, #c58bff, #ffa5ff, #afd7ff);
  text-indent: 0.1em;
  letter-spacing: 0.1em;
  border-radius: 1.5em;
}
