<% if output.colectioned_by?(current_user) %>
    <p>
      <%= link_to output_colection_path(output.id), method: :delete, remote: true do %>
        <i class="fas fa-heart"></i>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to output_colection_path(output.id), method: :post, remote: true do %>
        <i class="far fa-heart"></i>
      <% end %>
    </p>
  <% end %>
  