<div class="container text-center">
  <div class="row listbox w-50 mx-auto">
    <h1>My page</h1>
    
    <div class="listbox-in">
        <p>Name: <%= @user.name %></p>
        
        <p>Email: <%= @user.email %></p>
        
        <% if @user.name != "Guest player" %>
          <%= link_to '編集', information_path %>
        <% end %>
    </div>
  </div>
</div>
